<!-- 
<form>
    <div class="first">
        <p class="type"> Type</p>
        <hr style="height:4px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);width: 940%;">
    </div>

    <div class="radio">

        <div class="form-check">
            <div class="appartement">
                <input class="form-check-input" type="radio" name="radiogrp">
                <label class="na">
                    Apartement
                </label>
            </div>

            <div class="maison">
                <input class="form-check-input" type="radio" name="radiogrp">
                <label class="na">
                    Maison
                </label>
            </div>

            <div class="bureau">
                <input class="form-check-input" type="radio" name="radiogrp">
                <label class="na">
                    Bureau
                </label>
            </div>


            <div class="hôtes">
                <input class="form-check-input" type="radio" name="radiogrp">
                <label class="na">
                    Maison d'hôtes
                </label>
            </div>


        </div>

    </div>


    <div class="disponibilité">
        <p class="dispo"> Disponibilité</p>
        <hr style="height:4px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);width: 400%;">
    </div>

    <div class="date">
        <h2 class="dd">De: </h2>
        <div class="de">
            <input type="date" class="form-control" required id="border">
        </div>

        <h2 class="aa">a: </h2>

        <div class="a">
            <input type="date" class="form-control" required id="border">
        </div>

    </div>


    <div class="localisation">
        <p class="local"> Localisation</p>
        <hr style="height:4px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);width: 420%;">
    </div>

    <div>
        <div class="Région">
            <h2>Région :</h2>
        </div>
        <div class="reg">
            <input class="form-control" id="border">
        </div>
    </div>

    <div>
        <div class="ville">
            <h2>ville :</h2>
        </div>
        <div class="vi">
            <input class="form-control" id="border">
        </div>
    </div>

    <div id="map" style="height: 300px; width: 100%;"></div>

    <agm-map [latitude]="latitude" [longitude]="longitude"></agm-map>





    <div class="surface">
        <p class="local"> Surface</p>
        <h3 style="position: absolute;right: -60px;bottom: 13px;">(en m2)</h3>
        <hr style="height:4px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);width: 635%;">
    </div>

    <div>
        <div class="su">
            <h2>Surface :</h2>
        </div>
        <div class="suu">
            <input class="form-control" id="border">
        </div>
    </div>




    <div class="prix">
        <p class="local"> Prix</p>
        <h3 style="position: absolute;right: -70px;bottom: 13px;">(en TND)</h3>
        <hr style="height:4px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);width: 1290%;">
    </div>

    <div>
        <div class="pr">
            <h2>Prix :</h2>
        </div>
        <div class="prr">
            <input class="form-control" id="border">
        </div>
    </div>







    <div class="photos">
        <p class="local"> Photos</p>
        <hr style="height:4px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);width: 740%;">
    </div>









</form>

-->