/*
.first {
    position: absolute;
    right: 1300px;
    bottom: 550px;
}

.type {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radio {
    position: absolute;
    right: 1250px;
    bottom: 500px;
}

.appartement {
    position: absolute;
    right: -30px;
    bottom: 25px;
}

.maison {
    position: absolute;
    right: 8px;
    bottom: -5px;
}

.bureau {
    position: absolute;
    right: -170px;
    bottom: 25px;
}

.hôtes {
    position: absolute;
    right: -236px;
    bottom: -7px;
}

.disponibilité {
    position: absolute;
    right: 1200px;
    bottom: 300px;
}

.dispo {
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.date {
    position: absolute;
    right: 1300px;
    bottom: 260px;
}

.de {
    position: absolute;
    right: -200px;
    bottom: 0px;
}

.aa {
    position: absolute;
    right: -300px;
    bottom: -10px;
}

.dd {
    position: absolute;
    right: -20px;
    bottom: -10px;
}

.a {
    position: absolute;
    right: -480px;
    bottom: 0px;
}

.localisation {
    position: absolute;
    right: 1200px;
    bottom: 100px;
}

.local {
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.na {
    font-size: 18px;
}

.Région {
    position: absolute;
    right: 1260px;
    bottom: 52px;
    font-size: 18px;
}

.reg {
    position: absolute;
    right: 1040px;
    bottom: 63px;
}

#border {
    border-width: thin;
    border-color: rgb(198, 196, 196);
}

.ville {
    position: absolute;
    right: 970px;
    bottom: 52px;
    font-size: 18px;
}

.vi {
    position: absolute;
    right: 750px;
    bottom: 63px;
}

agm-map {
    height: 400px;
    width: 50%;
    position: absolute;
    bottom: -200px;
    right: -200px;
}

.surface {
    position: absolute;
    right: 1250px;
    bottom: -100px;
}

.m2 {
    position: absolute;
    right: -70px;
    bottom: 37px;
}

.su {
    position: absolute;
    right: 1260px;
    bottom: -150px;
    font-size: 18px;
}

.suu {
    position: absolute;
    right: 1040px;
    bottom: -140px;
}

.prix {
    position: absolute;
    right: 1300px;
    bottom: -300px;
}

.pr {
    position: absolute;
    right: 1260px;
    bottom: -345px;
    font-size: 18px;
}

.prr {
    position: absolute;
    right: 1040px;
    bottom: -330px;
}

#po {
    position: absolute;
    right: 1200px;
}

.photos {
    position: absolute;
    right: 1270px;
    bottom: -480px;
}
*/