<div class="carreau1">
</div>
<img [src]="house?.photos" alt="House Image" class="image">

<div class="container">
    <div class="image-container">
        <img [src]="house?.photos" alt="House Image" class="image" />
    </div>


    <div class="carreau2">
    </div>

    <h1 class="titre"> {{ house?.titre }} </h1>

    <h3 class="localisation"> {{house?.localite}},{{house?.delegation}},{{house?.region}}</h3>

    <h2 class="prix">{{ house?.prix }} TND/mois</h2>

    <h2 class="surface">{{ house?.surface }} m²</h2>









    <div class="carreau3">
        <h2><i style="position: absolute ;right: 520px;top:15px;">Caractéristiques</i></h2>
        <div>
            <h2 style="position: absolute ;right: 625px;top:80px;">Type : </h2>
            <h3 style="position: absolute ;left: 210px;top:85px;">{{ house?.selectedtype}} </h3>
        </div>

        <div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 630px;top:133px;">Etat : </h2>
            <h3 style="position: absolute ;left: 210px;top:137px;">{{ house?.etat }} </h3>
        </div>

        <div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 585px;top:180px;">Chambre :</h2>
            <h3 style="position: absolute ;left: 210px;top:185px;">{{ house?.chambre }} </h3>
        </div>

        <div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 630px;top:225px;">Lits :</h2>
            <h3 style="position: absolute ;left: 210px;top:228px;">{{ house?.lits }} </h3>
        </div>

        <div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 538px;top:270px;">Salle de bains :</h2>
            <h3 style="position: absolute ;left: 210px;top:275px;">{{ house?.sdb }} </h3>
        </div>

        <div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 610px;top:315px;">Etage :</h2>
            <h3 style="position: absolute ;left: 210px;top:320px;">{{ house?.selectedOption}} </h3>
        </div>

        <div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 557px;top:360px;">Code postal :</h2>
            <h3 style="position: absolute ;left: 210px;top:365px;">{{ house?.cp }} </h3>
        </div>







        <hr style="width: 600px;position:absolute;bottom: 325px;right:80px ;">

        <hr style="width: 600px;position: absolute;bottom: 275px;right: 80px;">

        <hr style="width: 600px;position: absolute;bottom: 225px;right: 80px;">

        <hr style="width: 600px;position: absolute;bottom: 180px;right: 80px;">

        <hr style="width: 600px;position: absolute;bottom: 135px;right: 80px;">

        <hr style="width: 600px;position: absolute;bottom: 90px;right: 80px;">

        <hr style="width: 600px;position: absolute;bottom: 45px;right: 80px;">


    </div>


    <div class="carreau4">
        <div>
            <h2><i style="position: absolute ;right: 540px;top:18px;">Description</i></h2>
        </div>
        <h2 style="text-align: center;display: flex; align-items: center;position: absolute;padding: 60px;">{{
            house?.description }}
        </h2>
    </div>


    <div class="equip">
        <div *ngIf="house?.icons">
            <h3>equipements :</h3>
            <ul>
                <li *ngFor="let icon of house.icons[0].selectedIcons">{{ icon }}</li>
            </ul>
        </div>

    </div>


    <div class="owner">
        <h2>{{owner.nom}} </h2>
        <h2>{{owner.email}}</h2>

    </div>

    <div id="map"></div>

    <!--<div style="display: flex; align-items: right;">
            <h2 style="position: absolute ;right: 620px;top:405px;">Date :</h2>
            <h3 style="position: absolute ;left: 150px;top:410px;"> du : {{ formatDate(house?.date1) }} &nbsp; a : {{
                formatDate(house?.date2) }}</h3>
        </div>   -->




    <!--  
<div class="calendar">
    <div class="calendar-header">
        <button (click)="previousMonth()">&lt;</button>
        <h2>{{ currentMonth }} {{ currentYear }}</h2>
        <button (click)="nextMonth()">&gt;</button>
    </div>
    <table class="calendar-table">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of calendarData">
                <td *ngFor="let day of calendarData" [class.selected]="isSelected(day)">
                    {{ day }}
                </td>
            </tr>
        </tbody>
    </table>
</div>-->

    <div class="calendar-container" [formGroup]="form">
        <div class="month-navigation">
            <button (click)="prevMonth()">&lt;</button>
            <h2 id="month">{{ currentMonth }}</h2>
            <select [(ngModel)]="currentYear" (ngModelChange)="changeYear($event)" id="year">
                <option *ngFor="let year of years" [value]="year" [selected]="year === currentYear">{{ year }}
                </option>
            </select>
            <button id="next" (click)="nextMonth()">&gt;</button>
        </div>

        <div class="calendar">
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">
                <div *ngFor="let day of calendarData" [class.other-month]="day < 0" [class.selected]="isSelected(day)"
                    [class.current-day]="isCurrentDay(day)" [class.past-day]="isPastDay(day)"
                    [class.crossed]="isPastDay(day) || isDisabled(day)" [class.disabled]="isDisabled(day)"
                    [class.selected-day]="isHighlighted(day)" (click)="toggleSelection(day)" style="cursor: pointer;">
                    {{ day !== -1 ? day : '' }}
                </div>
            </div>
        </div>
    </div>

    <button (click)="opp()">click</button>

    <h3 style="position: absolute ;left: 210px;top:365px;">{{ house?.calendrier }} </h3>