<nav class="navbar">
    <a href="">Acceuil</a>

    <a *ngIf="isLoggedIn" href="/compte" style="position:absolute;right: 1350px;">compte</a>
    <div>
        <button type="button" class="btn" (click)="goto_add_announcement()"
            style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">AJOUTER UNE ANNONCE
        </button>
    </div>


    <div style="cursor: pointer;" (click)="auth()">
        <div class="cnx">
            <img src=" assets/icons/connexion.png " />
        </div>

        <div style="position: absolute;right: 125px;bottom: 2px;">
            <h2>{{ isLoggedIn ? 'déconnexion' : 'se connecter' }}</h2>
        </div>
    </div>

</nav>